<app-dynamic-card [card]="card" [(ngModel)]="cardAnswers"></app-dynamic-card>
<hr />
<table>
  <thead>
    <tr>
      <th colspan="3">TOP LEVEL</th>
    </tr>
    <tr>
      <th>Card Definition</th>
      <th>Initial Answers</th>
      <th>Current Answers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <pre>{{ card | json }}</pre>
      </td>
      <td>
        <pre>{{ initialAnswers | json }}</pre>
      </td>
      <td>
        <pre>{{ cardAnswers | json }}</pre>
      </td>
    </tr>
  </tbody>
</table>
